<?xml version="1.0"?>

<launch>
    <!-- run pointcloud_to_laserscan node -->
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">

        <!--<remap from="cloud_in" to="/assembled_cloud"/>-->
        <remap from="cloud_in" to="/scan_matched_points2"/>
        <rosparam>
<!--            target_frame:  spin_lidar_lidar_mount_link -->
            target_frame:  spin_lidar_lidar_mount_link_fixed
            transform_tolerance: 0.01
            min_height: -0.35
            max_height: 0.10

            angle_min: -3.14 # -M_PI
            angle_max: 3.14 # M_PI
            angle_increment: 0.0087 # M_PI/360.0
            scan_time: 0.125 <!-- 0.3333 -->
            range_min: 0.45
            range_max: 10.0
            use_inf: true

            # Concurrency level, affects number of pointclouds queued for processing and number of threads used
            # 0 : Detect number of cores
            # 1 : Single threaded
            # 2->inf : Parallelism level
            concurrency_level: 0
        </rosparam>
    </node>
</launch>
